/* element selectors */
/* h1{
    color: red;
}
h2{
    color: green;
}
p{
    color: grey;
} */
/* body{
    color: blue;
}
h1,h2{
    color: red;
} */
/* 
#heading{
    color:green;
    background-color: black; 
} */

.green{
    color: green;
}
.red{
    color: red;
}

